// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper {
  width: 960px;
  margin: 0px auto;
  background: url(img03.jpg) no-repeat center top;
}